.hidden {
    display: none;
    visibility: hidden;
}

#noteFormDialog[open] {
    display: flex;
    box-shadow: -10px 10px 6px grey;
    background-color: brown;
    height: max-content;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

dialog {
    border: 0px;
}

#noteForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#FormHeader {
    width: inherit;
    display: flex;
    justify-content: start;
    padding: 10px 0px;;
}

.heading {
    flex-grow: 3;
}

#FormHeader > button:hover {
    border: 3px solid hsl(354, 70%, 54%);
    margin: 0px 10px;
}

.formButton:hover {
    border: 3px solid hsl(216, 98%, 52%);
}

.formButton {
    border: 3px solid white;
    margin: 0px 10px;
    color: white;
}

#noteForm > textarea {
    border-radius: 10px;
}

#newNoteFormButtons {
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
    margin-bottom: 5px;
}

#newNoteFormButtons  > button {
    flex-grow: 1;
}

#colourSelection {
    display: flex;
    flex-direction: column;
}